.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh; /* Full height */
  padding: 20px; /* Padding for layout */
  background-color: #fff;
}

.round-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #007bff;
  color: gra;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s;
}

.round-button:hover {
  background-color: #0056b3;
}

.info-box {
  margin-top: auto; /* Pushes the info box to the bottom */
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  width: 300px;
  text-align: center;
}
